@media (max-width: 992px) {
  .mainText p {
    font-size: 3em; } }

@media (max-width: 477px) {
  .wrapperMainBlock {
    padding-left: 20px; }
  .mainText p {
    font-size: 1.8em;
    line-height: 1.3em; }
  .mainText {
    padding-top: 30px; }
  .bottomLink {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 10px; }
    .bottomLink a {
      width: 100%;
      padding-bottom: 10px; } }

@media (max-width: 620px) {
  .mainText p {
    font-size: 1.7em;
    line-height: 1.3em; } }
