/*variable*/
body {
  font-family: "Futura PT Regular";
  background-color: #05031a;
  color: white;
  overflow-x: hidden; }

/* global style */
.wrapperMainBlock {
  padding-left: 60px;
  width: 90%;
  max-width: 1600px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.languageSwitcher {
  width: auto; }
  .languageSwitcher a {
    font-family: "Futura PT Regular";
    font-size: 22px;
    text-decoration: underline;
    color: #fff; }

.mainText {
  width: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .mainText p {
    font-family: "Futura PT Medium";
    font-size: 4em;
    line-height: 1.3em; }

.bottomLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: auto; }

.bottomLink a {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 60px;
  font-family: "Futura PT Regular";
  font-size: 22px;
  text-decoration: underline;
  color: #fff; }

.strikethrough {
  color: #a92b2b;
  text-decoration: line-through; }

.bluetext {
  color: #1eb2e7; }
