/*variable*/
body {
  font-family: "Graphik Regular";
  background-color: #fff;
  color: #05031a;
  overflow-x: hidden; }

/* global style */
.wrapperMainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  padding-left: 40px;
  width: 90%;
  max-width: 1600px;
  height: 100vh; }

.mainText {
  width: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 50px; }
  .mainText p {
    font-family: "Graphik Regular";
    font-size: 4em;
    line-height: 1.1em; }

.bottomLink {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 40px; }
  .bottomLink a {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 60px;
    font-family: "Graphik Regular";
    font-size: 22px;
    text-decoration: underline;
    color: #05031a; }
  .bottomLink p {
    font-family: "Graphik Regular";
    font-size: 22px; }

.strikethrough {
  color: #f65154;
  text-decoration: line-through; }

.bluetext {
  color: #1eb2e7; }
