@font-face {
  font-family: "Graphik Light";
  src: url("../fonts/Graphik-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Futura PT Heavy";
  src: url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Futura PT Medium";
  src: url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
