@font-face {
  font-family: "Futura PT Regular";
  src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Futura PT Heavy";
  src: url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
