/*variable*/
$colorAccidentWhite: #fff;
$colorAccidentBlack: #05031a;

body {
  font-family: "Futura PT Regular";
  background-color: $colorAccidentBlack;
  color: white;
  overflow-x: hidden;
}

.wrapperMainBlock {
  padding-left: 100px;
  // margin-top: 5%;
  // margin-bottom: 5%;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
}

.languageSwitcher {
  width: auto;
  a {
    font-family: "Futura PT Regular";
    font-size: 22px;
    text-decoration: underline;
    color: $colorAccidentWhite;
  }
}

.mainText {
  width: auto;
  flex-wrap: wrap;
  p {
    font-family: "Futura PT Heavy";
    font-size: 4em;
    line-height: 1.2em;
  }
}

.bottomLink {
  display: flex;
  flex-direction: row;
  width: auto;
}

.bottomLink a {
  flex-wrap: wrap;
  padding-right: 60px;
  font-family: "Futura PT Regular";
  font-size: 22px;
  text-decoration: underline;
  color: $colorAccidentWhite;
}

.strikethrough {
  color: #a92b2b;
  text-decoration: line-through;
}

.bluetext {
  color: rgb(30, 178, 231);
}

@media (max-width: 992px) {
  .mainText p {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  .wrapperMainBlock {
    padding-left: 30px;
  }

  .mainText p {
    font-size: 2.8em;
  }
}

@media (max-width: 576px) {
  .wrapperMainBlock {
    padding-left: 20px;
  }

  .mainText p {
    font-size: 1.5em;
    line-height: 1.3em;
  }

  .bottomLink {
    flex-wrap: wrap;
    a {
      padding-bottom: 20px;
    }
  }
}
