/*variable*/
$colorAccidentWhite: #fff;
$colorAccidentBlack: #05031a;

body {
  font-family: "Futura PT Regular";
  background-color: $colorAccidentBlack;
  color: white;
  overflow-x: hidden;
}

/* global style */

.wrapperMainBlock {
  padding-left: 60px;
  width: 90%;
  max-width: 1600px;
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
}

.languageSwitcher {
  width: auto;
  a {
    font-family: "Futura PT Regular";
    font-size: 22px;
    text-decoration: underline;
    color: $colorAccidentWhite;
  }
}

.mainText {
  width: auto;
  flex-wrap: wrap;
  p {
    font-family: "Futura PT Medium";
    font-size: 4em;
    line-height: 1.3em;
  }
}

.bottomLink {
  display: flex;
  flex-direction: row;
  width: auto;
}

.bottomLink a {
  flex-wrap: wrap;
  padding-right: 60px;
  font-family: "Futura PT Regular";
  font-size: 22px;
  text-decoration: underline;
  color: $colorAccidentWhite;
}

.strikethrough {
  color: #a92b2b;
  text-decoration: line-through;
}

.bluetext {
  color: rgb(30, 178, 231);
}
